In [1]:
import pandas as pd

df = pd.read_csv('election_data.csv')

In [2]:
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
df['Voter ID'].count()

3521001

In [4]:
df.groupby(['Candidate'])['Voter ID'].count()

Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
Name: Voter ID, dtype: int64

In [5]:
filt = df.groupby(['Candidate'])['Voter ID'].count()

In [6]:
filt

Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
Name: Voter ID, dtype: int64

In [7]:
filt['Khan']

2218231

In [8]:
filt['Khan']/3521001*100

63.00001050837531

In [9]:
print('---------------')

---------------

In [18]:
print('Election Results')
print('---------------------------')
print('Total Votes: ', df['Voter ID'].count())
print('---------------------------')
print('Khan: ', (filt['Khan']/3521001*100),filt['Khan'])
print('Khan: ', (filt['Khan']/3521001*100),filt['Khan'])
print('Khan: ', (filt['Khan']/3521001*100),filt['Khan'])
print('Khan: ', (filt['Khan']/3521001*100),filt['Khan'])
print('---------------------------')
print('Winner:',(filt.max()))
print('---------------------------')

Election Results
---------------------------
Total Votes:  3521001
---------------------------
Khan:  63.00001050837531 2218231
Khan:  63.00001050837531 2218231
Khan:  63.00001050837531 2218231
Khan:  63.00001050837531 2218231
---------------------------
Winner: 2218231
---------------------------